# statistic functions

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({"digit":[1,2,3,4,5,6,7],"frequency":[1,2,4,3,2,1,4]})
df

   digit  frequency
0      1          1
1      2          2
2      3          4
3      4          3
4      5          2
5      6          1
6      7          4

In [3]:
# return the mean value of each column
display(df.mean())
# return mean value of certain column
print("average value of column digit:", df.mean()["digit"])

digit        4.000000
frequency    2.428571
dtype: float64

average value of column digit: 4.0

In [4]:
# return the standard deviation of each column
df.std()

digit        2.160247
frequency    1.272418
dtype: float64

In [5]:
# return the mode of each column
df.mode()

   digit  frequency
0      1        1.0
1      2        2.0
2      3        4.0
3      4        NaN
4      5        NaN
5      6        NaN
6      7        NaN

In [6]:
# return the median of the each column
df.median()

digit        4.0
frequency    2.0
dtype: float64

In [7]:
# statistics sum up
df.describe()

          digit  frequency
count  7.000000   7.000000
mean   4.000000   2.428571
std    2.160247   1.272418
min    1.000000   1.000000
25%    2.500000   1.500000
50%    4.000000   2.000000
75%    5.500000   3.500000
max    7.000000   4.000000

In [8]:
# basic calculations between two columns
# subtract
df["diff"] = df["frequency"] - df["digit"]
# summation
df["sum"] = df["frequency"] + df["digit"]
# multiplication
df["mult"] =  df["frequency"] * df["digit"]
# division
df["div"] =  df["frequency"] / df["digit"]
df.head()

   digit  frequency  diff  sum  mult       div
0      1          1     0    2     1  1.000000
1      2          2     0    4     4  1.000000
2      3          4     1    7    12  1.333333
3      4          3    -1    7    12  0.750000
4      5          2    -3    7    10  0.400000

In [9]:
import numpy as np
# more operations on a single column
# take square root of one column
df["sqrt_fre"] = np.sqrt(df["frequency"])
# take asolute value of one column
df["abs_diff"] = abs(df["diff"])
# teke every value of one column to the power of three
df["power_diff"] = df["diff"]**3
df.head()

   digit  frequency  diff  sum  mult       div  sqrt_fre  abs_diff  power_diff
0      1          1     0    2     1  1.000000  1.000000         0           0
1      2          2     0    4     4  1.000000  1.414214         0           0
2      3          4     1    7    12  1.333333  2.000000         1           1
3      4          3    -1    7    12  0.750000  1.732051         1          -1
4      5          2    -3    7    10  0.400000  1.414214         3         -27